.container {
  height: 300px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 50px 40px 40px auto 40px;
  column-gap: 5px;
  row-gap: 5px;
}

.container div {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  background-color: red;
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1 / 3;
}

.second {
  background-color: green;
  /* grid-row-start: 1;
  grid-row-end: span 3; */
  grid-row: 1 / -4;
  /* grid-column-start: 3;
  grid-column-end: 4; */
  grid-column: 3 / 4;
}

.third {
  background-color: aqua;
}

.fourth {
  background-color: brown;
  /* grid-row-start: 2;
  grid-row-end: span 2; */
  grid-row: 2 / -1;
}

.fifth {
  background-color: blueviolet;
}
