* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #ffffff;
  background-color: #fff7f0;
}

.design-solutions {
  height: 364px;
  max-width: 70%;
  margin: 30px auto;
  display: grid;
  /* grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template-areas: "gd gd ui app ph ph" 
                       "gd gd ill ill mg mg";
  gap: 24px;
}

.design-solutions div {
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  padding: 24px;
  background-repeat: no-repeat;
  background-position: 90% 10%;
}

.graphic-design {
  background-color: #755cde;
  /* grid-column: 1 / span 2;
  grid-row: 1 / span 2; */
  background-image: url("./assets/images/pattern-graphic-design.svg");
  grid-area: gd;
}

.ui-ux {
  background-color: #f6a560;
  background-image: url("./assets/images/pattern-ui-ux.svg");
  grid-area: ui;
}

.apps {
  background-color: #f39e9e;
  background-image: url("./assets/images/pattern-apps.svg");
  grid-area: app;
}

.photography {
  background-color: #61c4b7;
  /* grid-column: 5 / -1; */
  background-image: url("./assets/images/pattern-photography.svg");
  grid-area: ph;
}

.illustrations {
  background-color: #eb7565;
  /* grid-row: 2 / 3;
  grid-column: 3 / span 2; */
  background-image: url("./assets/images/pattern-illustrations.svg");
  grid-area: ill;
}

.motion-graphics {
  background-color: #552049;
  /* grid-row: 2 / 3;
  grid-column: 5 / -1; */
  background-image: url("./assets/images/pattern-motion-graphics.svg");
  grid-area: mg;
}
