h1 {
  box-shadow: 5px 5px 10px red;
}

img {
  /* box-shadow: 5px 5px 10px blue; */
  filter: drop-shadow(5px 5px 1px blue);
}

div {
  width: 200px;
  height: 200px;
  background-image: -webkit-radial-gradient(
    right top,
    rgb(8, 176, 69),
    rgb(153, 194, 93)
  );
}

button {
  cursor: pointer;
  color: white;
  margin: 20px;
  background-image: -webkit-radial-gradient(
    right top,
    rgb(8, 176, 69),
    rgb(153, 194, 93)
  );
  background-size: 300%;
  background-position: left;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-family: sans-serif;
  transition: background-position 0.2s linear;
}

button:hover {
  background-position: right;
}
